---
import type { InferGetStaticParamsType, InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations, useTranslatedPath, getPostFromLang  } from '../i18n/utils';
import Base from "../layouts/Base.astro"
import { Image } from 'astro:assets';

const pages = await getCollection('blog');
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const posts = await getPostFromLang(lang, 2);

---
<Base title={t('meta.title')} description={t('meta.description')}>
    <h1>Index</h1>

    {posts.map((post)=> {
        return (
            <div>
                <h1>{post.data.title}</h1>                
                <p>{post.data.metaDescription}</p>
            </div>
        )
    })}
</Base>