---
import type { InferGetStaticParamsType, InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations, useTranslatedPath, getPostFromLang  } from '../../i18n/utils';
import Base from "../../layouts/Base.astro"
import { Image } from 'astro:assets';

const pages = await getCollection('blog');
const lang = 'pt-br'
const t = useTranslations(lang);
export const getStaticPaths = (async ({ paginate }) => {
  // Load your data with fetch(), Astro.glob(), etc.
  const lang = 'pt-br'
  const posts = await getPostFromLang(lang);
  //console.log("aqui 2")
  //const posts = await getCollection('blog');
  // Return a paginated collection of paths for all posts
  return paginate(posts, { pageSize: 2 });
}) satisfies GetStaticPaths;

const {page, } = Astro.props;

---
<Base title={t('meta.title')} description={t('meta.description')}>
    {page.data.map((post)=> {
        return (
            <div>
                <h1>{post.data.title}</h1>                
                <p>{post.data.metaDescription}</p>
            </div>
        )
    })}
</Base>