---
import { getLangFromUrl } from '../i18n/utils';
import LanguagePicker from '../components/LanguagePicker.astro';
import NavBar from '../components/NavBar.astro';
const lang = getLangFromUrl(Astro.url);

interface Props {
    title: string
    description: string
}

const props = Astro.props
---
<html lang={lang}>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <title>{props.title}</title>
        <meta name="description" content={props.description} />        
    </head>
    <body>
        <div class="bg-neutral">
            <div class="mx-auto max-w-screen-xl">    
                <NavBar >
            </div>
        </div>
        <main class="mx-auto max-w-screen-xl">
            <slot />
        </main>        
        <footer>
            <LanguagePicker />
        </footer>
    </body>
</html>