---
import { getLangFromUrl } from '../i18n/utils';
import LanguagePicker from '../components/LanguagePicker.astro';
import SocialMedia from '../components/SocialMedia.astro';
import NavBar from '../components/NavBar.astro';
const lang = getLangFromUrl(Astro.url);

interface Props {
    title: string
    description: string
}

const props = Astro.props
---
<html lang={lang}>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <title>{props.title}</title>
        <meta name="description" content={props.description} />     
        <link rel="sitemap" href="/sitemap-index.xml" />  
        <script is:inline type="text/javascript">
          (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
          })(window, document, "clarity", "script", "jxlpbzgfhu");
        </script> 
    </head>
    <body class="flex flex-col h-screen">
        <div class="bg-primary">
            <div class="mx-auto max-w-screen-xl">    
                <NavBar >
            </div>
        </div>
        <div class="flex-grow">
          <main class="mx-auto max-w-screen-xl">
              <slot />
          </main>      
        </div>  
        <footer class="footer footer-center p-8 bg-base-200 text-base-content mt-10">
            <aside>              
              <p class="font-bold">
                Hederson Boechat <br/>Building reliable tech since 2013
              </p> 
              <p>Copyright © 2023 - All right reserved</p>
            </aside> 
            <nav>
              <div class="grid grid-flow-col gap-4">
                <SocialMedia />
              </div>
            </nav>
          </footer>
    </body>
</html>