---
import Base from './Base.astro'

interface Props {
    title: string
    description: string
}

const props = Astro.props
---
<Base title={props.title} description={props.description}>
    <main>
        <article>
            <header>
                <h1>{ props.title }</h1>
            </header>
            <slot />
        </article>
    </main>
</Base>